<div class="sidebar" [ngClass]="{ 'expanded': isExpanded }" >
  <div class="header" (click)="handleSidebarToggle()">
    <h1 class="title">
      App logo
    </h1>
    <div class="toggle">
      <span class="chevron"></span>
    </div>
  </div>
  <div class="content">
    <div class="link">
      <div class="content" [routerLink]="['/admin/home']" [routerLinkActive]="'active'">
        <div class="icon">
                    <i class="bi bi-house"></i>
        </div>
        <div class="title">{{'home' | translate}}</div>
      </div>
    </div>
    <div class="link">
      <div class="content" [routerLink]="['/admin/pageOne']" [routerLinkActive]="'active'">
        <div class="icon">
                    <i class="bi bi-list-ol"></i>
        </div>
        <div class="title">{{'pageOne' | translate}}</div>
      </div>
    </div>
    <div class="link with-children">
      <div class="content" [routerLink]="['/admin/pageTwo']" [routerLinkActive]="'active'">
        <div class="icon">
                    <i class="bi bi-gear"></i>
        </div>
        <div class="title">{{'pageTwo' | translate}}</div>
      </div>
    </div>
    <div class="link with-children">
      <div class="content" [routerLink]="['/admin/pageThree']" [routerLinkActive]="'active'">
        <div class="icon">
                    <i class="bi bi-gear"></i>
        </div>
        <div class="title">{{'pageThree' | translate}}</div>
      </div>
    </div>
  </div>
  <div class="content fix-bottom">
    <div class="link">
      <div class="content" >
        <div class="icon">
                    <i class="bi bi-translate"></i>
        </div>
        <div *ngIf="lang === 'en'" class="title" (click)="changeLanguage('de')">{{'translateDE' | translate}}</div>
        <div *ngIf="lang === 'de'" class="title" (click)="changeLanguage('en')">{{'translateEN' | translate}}</div>
      </div>
    </div>
    <div class="link">
      <div class="content" >
        <div class="icon">
                    <i class="bi bi-logout"></i>
        </div>
        <div class="title" (click)="logout()">Log out</div>
      </div>
    </div>
  </div>
</div>
