<div class="sidebar" [ngClass]="{ 'expanded': isExpanded }" >
  <div class="header" (click)="handleSidebarToggle()">
    <h1 class="title">
      App logo
    </h1>
    <div class="toggle">
      <span class="chevron"></span>
    </div>
  </div>
  <div class="content">
    <div class="link">
      <div class="content" [routerLink]="['/admin/home']" [routerLinkActive]="'active'">
        <div class="icon">
                    <i class="bi bi-house"></i>
        </div>
        <div class="title">Home</div>
      </div>
    </div>
    <div class="link">
      <div class="content" [routerLink]="['/admin/pageOne']" [routerLinkActive]="'active'">
        <div class="icon">
                    <i class="bi bi-list-ol"></i>
        </div>
        <div class="title">Page one</div>
      </div>
    </div>
    <div class="link with-children">
      <div class="content" [routerLink]="['/admin/pageTwo']" [routerLinkActive]="'active'">
        <div class="icon">
                    <i class="bi bi-gear"></i>
        </div>
        <div class="title">Page two</div>
      </div>
    </div>
    <div class="link with-children">
      <div class="content" [routerLink]="['/admin/pageThree']" [routerLinkActive]="'active'">
        <div class="icon">
                    <i class="bi bi-gear"></i>
        </div>
        <div class="title">Page three</div>
      </div>
    </div>
  </div>
</div>
