
<main class="form-signin">
  <form [formGroup]="registerForm" (ngSubmit)="register()" >
    <h1 class="h3 mb-3 fw-normal">Register</h1>
    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" [formControl]="emailFormControl" placeholder="name@example.com" name="email">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" [formControl]="passwordFormControl"  placeholder="Password" name="password">
      <label for="floatingPassword">Password</label>
    </div>
    <button [disabled]="!registerForm.valid" class="btn btn-primary w-100 py-2" type="submit">Register</button>
  </form>
  <button class="btn btn-link" [routerLink]="['/auth/login']" routerLinkActive="router-link-active" >Login</button>
</main>
