<legend>Page One - AG GRID Component</legend>
<hr>
<div>
  <ng-template #carDetails let-modal>
    <form class="form" [formGroup]="carDetailsForm" #formDirective="ngForm">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add Car Details</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
          <div class="row mb-3">
            <label for="carName" class="form-label">Make</label>
            <div class="input-group">
              <input  type="text" id="carName" [formControl]="makeControl" class="form-control" placeholder="Car Make" [ngClass]="{ 'is-invalid': makeControl.invalid && formDirective.submitted  }"/>
            </div>
            <div class="text-danger mt-1 fs-6" *ngIf="makeControl.invalid && formDirective.submitted">
              Make is required.
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="model" class="form-label">Model</label>
              <input type="text" id="model" [formControl]="modelControl" required class="form-control" placeholder="Model" [ngClass]="{ 'is-invalid': modelControl.invalid && formDirective.submitted  }" >
              <div class="text-danger mt-1 fs-6" *ngIf="modelControl.invalid && formDirective.submitted">
                Model is required.
              </div>
            </div>
            <div class="col-md-6">
              <label for="price" class="form-label">Price</label>
              <div class="input-group">
                <div class="input-group-text">Rs</div>
                <input type="number" id="price" [formControl]="priceControl" class="form-control" placeholder="Price" [ngClass]="{ 'is-invalid': priceControl.invalid && formDirective.submitted  }">
              </div>
              <div class="text-danger mt-1 fs-6" *ngIf="priceControl.invalid && formDirective.submitted">
                Price is required.
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="country" class="form-label">Country</label>
              <input type="text" id="country" [formControl]="countryControl" class="form-control" placeholder="Country" [ngClass]="{ 'is-invalid': countryControl.invalid && formDirective.submitted  }">
              <div class="text-danger mt-1 fs-6" *ngIf="countryControl.invalid && formDirective.submitted">
                Country is required.
              </div>
            </div>
            <div class="col-md-6 my-auto">
              <label class="form-label"></label>
              <div class="form-check">
                <label class="form-check-label" for="electric">
                  Electric
                </label>
                <input class="form-check-input" [formControl]="electricControl" type="checkbox" value="false" id="electric">
              </div>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Close click')">Cancel</button>
        <button type="submit" class="btn btn-primary" *ngIf="!toggleEditButton" (click)="saveCarDetails()" >Save</button>
        <button type="submit" class="btn btn-primary" *ngIf="toggleEditButton" (click)="editCarDetails()" >Update</button>
      </div>
    </form>
  </ng-template>
  <ng-template #confirmDeleteModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Profile Deletion</h4>
        <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <p>
            <strong>Are you sure you want to delete <span class="text-primary">{{selectedRecord.make}}</span> profile?</strong>
        </p>
        <p>
            All the information about this used will be deleted from the application
            <span class="text-dager">This operation can not be undone.</span>
        </p>
        <div class="modal-footer">
            <button class="btn-outliner-secondary btn" (click)="modal.dismiss('Close button clicked')">Cancel</button>
            <button class="btn btn-danger" (click)="modal.close('Ok click')">Ok</button>
        </div>
    </div>
  </ng-template>
</div>
<div class="btn-container mb-3 d-flex justify-content-between align-items-center">
  <span>Total records: {{carDetailCount()}}</span>
  <button class="btn btn-primary" (click)="openAddModal(carDetails)">Add New</button>
</div>
<ag-grid-angular
  [gridOptions]="gridOptions"
  class="ag-theme-quartz"
  style="height: 500px;width:100%"
  (gridReady)="onGridReady($event)"
  [rowSelection]="'single'"
  [rowData]="apiResponse"
  [columnDefs]="colDefs"
  [pagination]="true"
  [paginationPageSize]="paginationPageSize"
  [paginationPageSizeSelector]="paginationPageSizeSelector">
</ag-grid-angular>

